<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="location.href='/net/list'">전체목록</button>
    <button onclick="location.href='/net/search'">번호로 조회</button>
    <button onclick="location.href='/net/regist'">등록</button>
    <button onclick="location.href='/net/modify'">수정</button>
    <button onclick="location.href='/net/delete'">삭제</button>
    <button onclick="location.href='/net/query'">연령기준 조회</button>
</body>
</html>